.title{
    color: black;
    font-size: 14px;
    text-decoration: none;
    font-family: Verdana,Geneva,sans-serif;
}
.base{
    color: grey;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.base:active{
    color: grey;
}
.base:hover{
    text-decoration: underline;
    color: grey;
}
.story-separator{
    color: grey;
}
.background{
    background-color: white;
}